.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--box-padding);
  background-color: cadetblue;
  color: var(--color-primary-white);
}

.header__title {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--color-primary-white);
}

a {
  text-decoration: none;
}